.char {
  display: inline-block;
  animation: waveIn both;
  animation-fill-mode: both;
}

@keyframes waveIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
