.button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 28px;
    font-family: var(--head);
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

}

.btnPrimary {
    background: var(--red);
    color: #fff;
    border: 1px solid transparent;
    transition: box-shadow .2s, color .2s;
}

.btnPrimary:hover   { color: black; box-shadow: inset 0px 0px 0px 2px #000000;}

.btnSecondary {
    background: transparent;
    color: var(--text);
    border: 1px solid var(--border);
    transition: border-color .2s, color .2s;
}

.btnSecondary:hover { border-color: var(--red); color: var(--red);   }

