.waveContainer {
    position: relative;
    width: 100%;
    /* wave inside the section ABOVE */
    overflow: hidden;
    margin-bottom: -100px;
    line-height: 0;
    height: 100px;
}

.waveContainer svg {
    /* wave inside the section BELOW */
    /* margin-top: 100px; */
    display: block;

    width: 100%;
    height: 100px;
}